@import '../src/nprogress.css';

body {
  margin: 0;
  color: #34495E;
  background-color: #BDC3C7;
}

h1 {
  text-align: center;
  background-color: #e0e0e0;
  margin: 0;
  padding: 20px;
}

div.buttons {
  text-align: center;
  background-color: #34495E;
  padding: 20px;
}

div.buttons button, div.buttons button:active {
  border: none;
  background-color:  #7F8C8D;
  color: #f5f5f5;
  padding: 10px;
  margin: 0 10px;
  border-radius: 6px;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

div.buttons button:hover {
  background-color: #f4590a;
}

div.buttons button:focus {
  outline: 0;
}

div.state {
  padding: 20px;
  text-align: center;
}

#nprogress .bar {
  background-color:#f4590a;
}

#nprogress .spinner-icon {
  border-top-color:#f4590a;
  border-left-color:#f4590a;
}

#nprogress .peg {
  box-shadow: 0 0 10px #f4590a, 0 0 5px #f4590a;
}
